.button-container{
  height: 83px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  background-color:  #C5979D;
  color: black;
  border-radius: 15px;

  margin: 4px;
  cursor: pointer;
  user-select: none;
}

.button-container:hover {
  background-color: #484D6D;
}

.operator{
  background-color: #4B8F8C ;
}

.operator:hover{
  background-color: rgb(255, 0, 230);
}